.bookContainer {
  height: 200vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.stickyDiv {
  width: 100%;
}

.stickyContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: sticky;
  top: calc(50vh - 30vh);
}

.book {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 80vw;
  -moz-perspective: 80vw;
  perspective: 80vw;
  position: relative;
  height: 60vh;
  transform-origin: center center; /* Set the transform origin to the center */
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7 {
  transform-style: preserve-3d;
  position: absolute;
  width: 20vw;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.front {
  background-color: #cd853f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  -webkit-transform: rotateY(-39deg) translateZ(8px);
  -moz-transform: rotateY(-39deg) translateZ(8px);
  transform: rotateY(-39deg) translateZ(8px);
  z-index: 100;
}

.back {
  background-color: #cd853f;
  -webkit-transform: rotateY(-27deg) translateZ(-8px);
  -moz-transform: rotateY(-27deg) translateZ(-8px);
  transform: rotateY(-27deg) translateZ(-8px);
}

.page1 {
  background: #efefef;
  -webkit-transform: rotateY(-38deg);
  -moz-transform: rotateY(-38deg);
  transform: rotateY(-38deg);
}

.page2 {
  background: #efefef;
  -webkit-transform: rotateY(-28deg);
  -moz-transform: rotateY(-28deg);
  transform: rotateY(-28deg);
}

.page3 {
  background: #f5f5f5;
  -webkit-transform: rotateY(-36deg);
  -moz-transform: rotateY(-36deg);
  transform: rotateY(-36deg);
}

.page4 {
  background: #f5f5f5;
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}

.page5 {
  background: #fafafa;
  display: flex;
  align-items: center;
  -webkit-transform: rotateY(-34deg);
  -moz-transform: rotateY(-34deg);
  transform: rotateY(-34deg);
}

.page6 {
  background: #fdfdfd;
  display: flex;
  align-items: center;
  -webkit-transform: rotateY(-32deg);
  -moz-transform: rotateY(-32deg);
  transform: rotateY(-32deg);
}

.book.flipping {
  transform: rotateX(0deg);
  transform-origin: center center;
  transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
  padding: 0;
}

.book .flipFront {
  transform: rotateY(-160deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book .flipPage1 {
  transform: rotateY(-155deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book .flipPage2 {
  transform: rotateY(-25deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book .flipPage3 {
  transform: rotateY(-150deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book .flipPage4 {
  transform: rotateY(-30deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book .flipPage5 {
  transform: rotateY(-145deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.book .flipPage6 {
  transform: rotateY(-35deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.book .flipBack {
  transform: rotateY(-20deg);
}

.book .pageImage {
  background-image: url("https://img.youtube.com/vi/GA4GE9EAPz0/maxresdefault.jpg");
  background-size: 50vw 70vh;
  position: absolute;
  width: 20vw;
  height: 60vh;
  cursor: pointer;
}

.flipPage5 .pageImage,
.page5 .pageImage {
  background-position: 0 100%;
  transform: rotateY(180deg);
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.flipPage6 .pageImage,
.page6 .pageImage {
  background-position: -20vw 100%;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.book.flipping .front::after,
.book.flipping .back::after,
.book.flipping .page1::after,
.book.flipping .page2::after,
.book.flipping .page3::after,
.book.flipping .page4::after,
.book.flipping .page5::after,
.book.flipping .page6::after {
  height: 95%;
  width: 1vh;
}

.book.flipping .front::before,
.book.flipping .back::before,
.book.flipping .page1::before,
.book.flipping .page2::before,
.book.flipping .page3::before,
.book.flipping .page4::before,
.book.flipping .page5::before,
.book.flipping .page6::before {
  top: 98%;
  height: 2%;
  left: 99%;
}

.btnPlayLeft {
  position: absolute;
  overflow: hidden;
  top: 50%;
  right: 0;
  width: 100px;
  border: none;
  outline: none;
  z-index: 1000;
}

.btnPlayRight {
  position: absolute;
  top: 50%;
  overflow: hidden;
  left: 0;
  width: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1000;
}

.playLeft {
  font-size: 100px;
  transform: translateX(50%);
  color: red;
}

.playRight {
  font-size: 100px;
  transform: translateX(-50%);
  color: red;
}
